<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="1" name="Bank Opening tests">
    <suite-files>
        <suite-file path="src/test/conf/testng_gui.xml"/>
        <suite-file path="src/test/conf/testng_api.xml"/>
    </suite-files>
</suite>